<!doctype html>
<html>
<head>
	<style>
		/* estilos para deixar a tabela mais apresentavel */
		table { border-collapse: collapse;}
		td, th {  border: 1px solid #ddd; padding: 8px;}
		td {text-align: center}
		tr:nth-child(even){background-color: #f2f2f2;}
		tr:hover {background-color: #ddd;}
    </style>

</head>
 <body>
      <div style="margin:0 auto;width:480px;">

            <h2><a href="/" >Pessoas</a> | Editar</h2>
			{% if msg_error %}
				<pre style="color:red">{{ msg_error}}</pre>
			{% endif %}
			<form method="POST" action="/editar/{{id}}/"  enctype="multipart/form-data">
				<fieldset>
					<legend>Atualização de Cadastro de Pessoa</legend>
					<p>
					  <label>NOME COMPLETO</label>
					  <input name="nome_completo"
							 value="{{form.nome_completo}}"
							 type="text" 
							 class="form-control"
							 placeholder="informe o nome" />
					</p>
					
					<p>
					  <label>EMAIL</label>
					  <input name="email"
					  		 value="{{form.email}}"
							 type="email"
							 placeholder="informe um email" />
					</p>
					
					<p>
					  <label>USUÁRIO</label>
					  <input name="usuario"
  							 value="{{form.usuario}}"
							 type="text"
							 placeholder="informe o usuário" />
				
					  <label>SENHA</label>
					  <input name="senha"
  							 value="{{form.senha}}"
							 type="password"
							 id="input_senha" 
							 placeholder="senha"/>
					</p>
					
					<p>
					  <label>BIOGRAFIA:</label>
					  <textarea name="biografia"
								placeholder="Fale um pouco sobre sua trajetória de vida.." 
								cols="45" >{{form.biografia}}</textarea>
					</p>
					
					<p>
					  <label>FOTO:</label>
					  <input name="foto_url" type="file" />
					</p>
				</fieldset>
                <br>
				<button type="submit">Atualizar Pessoa</button>
			</form> 
</div>
</body>
</html>