<!doctype html>
<html>
<head>
	<style>
		/* estilos para deixar a tabela mais apresentavel */
		table { border-collapse: collapse;}
		td, th {  border: 1px solid #ddd; padding: 8px;}
		td {text-align: center}
		tr:nth-child(even){background-color: #f2f2f2;}
		tr:hover {background-color: #ddd;}
    </style>

</head>
 <body>
 
        <div style="margin:0 auto;width:720px;">
        	<h2>Pessoas Cadastradas no sistema</h2>
            <table>
             <tr>
               <th>ID</th>
               <th>NOME</th>
			   <th>USUARIO</th>
               <th>EMAIL</th>
			   <th>BIO</th>
			   <th>FOTO</th>
               <th>AÇÕES</th>
			   
            </tr>
			{% for pessoa in lista_de_pessoas %}
            <tr>
				 <td>{{ pessoa.id }}</td>
				 <td>{{ pessoa.nome_completo}}</td>
				 <td>{{ pessoa.usuario}}</td>
				 <td>{{ pessoa.email}}</td>
				 <td>{{ pessoa.biografia}}</td>
				 <td><img height="49px" src="{{ pessoa.foto_url }}" /></td>
				 <td>
					<a href="/editar/{{pessoa.id}}/">editar</a> 
					| 
					<a href="/remover/{{pessoa.id}}/">remover</a> 
				</td>
            </tr>
			{% endfor %}
          </table>
          <br/>
          <p><a href="/cadastrar/">Inserir Pessoa</a>
        </div>
</body>
</html>